#!/bin/bash

# Show all indices
curl -XGET 'http://{{ elk_ip }}:9200/_cat/indices?v&pretty'

#	delete all indices, which older than N days
curl -XPOST '{{ elk_ip }}:9200/_all/_query' -H 'Content-Type: application/json' -d'
{
  "query": {
    "range" : {
        "age" : {
           "gte" : 5
        }
    }
  }
}
'

#	delete all indices, which matches with pattern;


#	purge all indices from elasticsearch
curl -XPOST 'http://{{ elk_ip }}:9200/_all/_delete_by_query?pretty' -H 'Content-Type: application/json' -d'
{
  "query": {
    "match_all": {}
  }
}
'
